.lists-container {
  display: flex;
  margin-top: 20px;
  padding: 0;
  margin-bottom: 0rem;
  justify-content: space-between;
}

.team-list {
  display: column;
  flex-wrap: wrap;
  justify-content: start;
  margin-left: 20px;
  ;
}

.team-list h1 {
  margin-left: 0px;
  font-style: bold;
  text-decoration: underline;

}


.player-list {
  margin-left:0rem;
    
}

.player-list h1 {
    margin-left: 0px;
    font-style: bold;
    text-decoration: underline;
}

.points-table {
    margin-left: 0rem;
    margin-right: 5rem;
    margin-bottom: 10rem;
}

.points-table h1 {
    margin-left: 0px;
    font-style: bold;
    text-decoration: underline;
}

.points-table .toggle-container{
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}
  
li{
    padding: 8px 0;
}

