.lists-container {
  display: flex;
  margin-top: 20px;
  padding: 0;
  margin-bottom: 0rem;
  justify-content: space-between;
}

.team-list {
  margin-left: 20px;
}

.team-list h1 {
  margin-left: 0px;
  font-style: bold;
  text-decoration: underline;

}


.player-list {
  margin-left:0rem;
  margin-right: 10rem; 
}

.player-list h1 {
    margin-left: 0px;
    font-style: bold;
    text-decoration: underline;
}

.points-table {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 10rem;
}

.points-table h1 {
    margin-left: 0px;
    font-style: bold;
    text-decoration: underline;
}

.points-table .toggle-container{
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}
  
li{
    padding: 8px 0;
}

/* .th {
    font-weight: bold;
    text-align: center;
    background-color: #f4f4f4;
} */

